.container-mod {
    margin-right: 5%;
    margin-left: 15%;
    margin-top: 7%;
}

.title-mod {
    display: flex;
    color: #000000;
    font-size: 40px;
    justify-content: center;
    text-decoration: underline;
}

.options {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 20px;
    gap: 20px;
}

.btn-users {
    height: 40px;
    width: 70px;
    font-size: 18px;
    padding-left: 7px;
    text-align: center;
    background-color: #8387F5;
    border: 1px solid #8387F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
    border-radius: 10px;
    color: #ffffff;
    transition: transform 0.8s ease;
}

.btn-users:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #535C91;
}

.btn-resources {
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    padding-left: 7px;
    background-color: #8387F5;
    border: 1px solid #8387F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
    color: #ffffff;
    transition: transform 0.5s ease;
}

.btn-resources:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #535C91;
}

.search-container-mod {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-mod {
    margin: 20px;
    background: transparent;
    justify-content: center;
}

.search-bar-mod input[type="text"]::placeholder {
    color: #000000;
    font-size: 20px;
    /* Placeholder text color */
}

.search-container-mod input[type="text"] {
    padding: 13px;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
    border: none;
    width: 500px;
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
}

.search-container-mod input:hover {
    transform: translate3d(20%);
}

.search-icon {
    background: transparent;
}

.search-container-mod button {
    padding: 8px 12px;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.search-container-mod button:hover {
    color: #8387F5;
}

.back-btn {
    margin-bottom: 20px;
}

.card-container-mod {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.card-modR {
    background-image: url(../../Assets/file.png);
    background-size: cover;
    width: 380px;
    height: 280px;
    border: 1px solid #535C91;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    bottom: 0;
}

.card-modU {
    background-image: url(../../Assets/profile.png);
    background-size: cover;
    width: 380px;
    height: 280px;
    border: 1px solid #535C91;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.info-mod {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

.info-mod p {
    line-height: 102%;
    margin: 2%;
}

.info-mod button {
    width: 60px;
    height: 30px;
    color: white;
    background-color: #8387F5;
    border-radius: 5px;
    transition: transform 0.5 ease;
}

.info-mod button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #454783;
    color: rgb(192, 192, 192);
}