@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.home-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.20);
    flex-direction: row;
    align-items: top;
    justify-content: center;
    height: 200px;
    margin-top: 10vh;
}

.search-header {
    margin-left: 200px;
}

.search-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    gap: 50px;
}

.search-bar {
    background: transparent;
    justify-content: center;
    border-radius: 20px;
}

.search-form input[type="text"] {
    padding: 13px;
    padding-left: 10px;
    font-size: 16px;
    color: #000000;
    border: none;
    width: 620px;
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
}

.search-bar input[type="text"]::placeholder {
    color: #000000;
    font-size: 20px;
}

.search-form input:hover {
    transform: translate3d(20%);
}

.search-form button {
    padding: 8px 12px;
    font-size: 16px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.search-form button:hover {
    color: #333;
}

.search-icon {
    font-size: 25px;
    color: #6d5a49;
    right: 10px;
}

.search-icon:hover {
    color: rgb(0, 0, 0);
}

.filter {
    font-size: 20px;
    width: 200px;
    padding-left: 5px;
}

.filter-select {
    padding-right: 10px;
    padding-left: 0px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    width: 78px;
    height: 33px;
}

.filter-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-color: #f01616;
}

.filter-select option {
    background-color: #ffffff;
    color: #000000;
}

.filter-select option:hover {
    background-color: #330a0a;
    color: #000000;
}

.reset-filter .reset-icon {
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    padding-left: 40px;
}

.reset-filter .reset-icon:hover {
    color: #666;
}

.date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 15px;
    margin-left: -120px;
}

.calendar-icon {
    display: absolute;
    margin-right: 8px;
    margin-left: 15px;
    font-size: 20px;
}

.react-datepicker__input-container input {
    font-size: 20px;
    background-color: rgb(25, 25, 112);
    max-width: 110px;
}

.react-datepicker-popper {
    z-index: 3;
}

.react-datepicker__header {
    background-color: #c1d8f8;
    color: #000000;
}

.react-datepicker__day {
    color: #000000;
}

.react-datepicker__day--selected {
    background-color: #c1d8f8;
    color: #000000;
}

.react-datepicker__day:hover {
    background-color: #f0f0f0;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.popular-resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 500px;
    overflow-wrap: break-word;
    font-size: 15px;
    gap: 30px;
    align-items: center;
    justify-content: left;
}

h2 {
    font-weight: bolder;
    justify-content: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #00265a;
    margin-right: -270px;
}

.card-body {
    background-image: url(../../Assets/file.png);
    background-size: cover;
    width: 350px;
    height: 260px;
    border: 1px solid #535C91;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.card-body:hover {
    transform: scale(1.05);
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8387F5;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-bottom: 5px;
    padding: 2px;
    transition: transform 0.5s ease;
    transform: translateY(100%);
}

.initial-title {
    position: absolute;
    padding: 20px;
    width: 90%;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    background-color: transparent;
}

.card-body:hover .initial-title {
    visibility: hidden;
}

.card-body:hover .caption {
    transform: translateY(0);
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fdfdfd;
    position: relative;
    padding-left: 20px;
    visibility: visible;
}

.card-text {
    display: none;
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.card-body:hover .card-text {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}

.card-body:hover .card-title {
    visibility: visible;
}

.card-body a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #535C91;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    transition: transform 0.5 ease;
}

.card-body a:hover {
    transform: scale(1.04);
}

.resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 500px;
    overflow-wrap: break-word;
    font-size: 15px;
    gap: 30px;
    align-items: center;
    justify-content: left;
}

.PR-title {
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

.no-rslts {
    margin-left: 480px;
}

.card-body button {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: black;
    height: 35px;
    width: 40px;
    justify-content: center;
}

.card-body button:hover {
    cursor: pointer;
    color: #8387F5;
}

.card-body a svg {
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        height: auto;
    }
    .search-header {
        margin-left: 0;
        margin-top: 20px;
    }
    .search-form {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .search-form input[type="text"] {
        padding: 13px;
        padding-left: 10px;
        font-size: 16px;
        color: #000000;
        border: none;
        width: 85px;
        border: 0;
        outline: none;
        background: transparent;
        border-bottom: 1px solid black;
    }
    .PR-title {
        display: flex;
        justify-content: center;
        margin-left: 30px;
        margin-right: 0px;
    }
    h2 {
        font-weight: bolder;
        justify-content: center;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        color: #00265a;
        margin-right: -210px;
    }
    .search-bar input[type="text"] {
        width: 230px;
        max-width: 100%;
        margin-left: 20px;
    }
    .filter {
        margin-top: 20px;
    }
    .filters {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: -20px;
        padding: 0;
    }
    .date-picker {
        display: flex;
        flex-direction: row;
        align-items: center;
        right: 0;
        gap: 0;
        margin-top: 20px;
    }
    .react-datepicker__input-container input {
        width: auto;
        max-width: 100%;
    }
    .filter-select {
        margin-right: 20px;
    }
    .reset-filter .reset-icon {
        font-size: 1.2rem;
        color: #333;
        cursor: pointer;
        padding-left: 30px;
        margin-top: 20px;
    }
    .reset-filter .reset-icon {
        padding-left: 0;
    }
    .no-rslts {
        margin-left: 30px;
        margin-top: 40px;
    }
    .card-body {
        background-image: url(../../Assets/file-resp.png);
        background-size: cover;
        width: 300px;
        height: 260px;
        border: 1px solid #535C91;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(85, 85, 85, 0.08);
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        transition: transform 0.5s ease;
    }
    .popular-resources,
    .resources {
        margin-left: 57px;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}