.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #8387F5, #F8F8FE);
}

.loginContainer {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f0f0f0b2;
}

.card h2 {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: #00265a;
    margin-left: 190px;
}

.card {
    margin-bottom: 20px;
}

.formLabel {
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
}

.formControl {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.inputGroup {
    position: relative;
}

.inputGroup button {
    position: absolute;
    top: 40%;
    right: 10px;
    border-radius: 5px;
    margin-right: 0px;
    transform: translateY(-50%);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnPrimary {
    background-color: #8387F5;
    font-size: 18px;
    color: #fff;
}

.btnOutlineSecondary {
    height: 35px;
    width: 60px;
    font-size: 18px;
    padding-left: 7px;
    background-color: #8387F5;
    border: 1px solid #8387F5;
    color: #ffffff;
}

.btnOutlineSecondary:hover {
    cursor: pointer;
}

.btnLink {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
}

.btnLink:hover {
    color: grey;
}

.alert {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.para {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}